body {
    text-align: center;
}

#library {
    display: inline-block;
}

#table {
    display: block;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
    gap: 8px;
}

.input {
    display: flex;
    justify-content: center;
}